@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

#app-container {
  width: 100%;
  height: 100vh;
  display: flex;
}

#left-navigation {
  background-color: #393A3D;
  width: 15.5rem;
  height: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 16px;
}

#nav-title {
  margin-bottom: 14px;
  display: flex;
  align-items: center;
  padding-left: 16px;

}

#logo {
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: calc(20px/2);
  margin-right: 12px;

}

#logo-text {
  font-size: 1.25em;
}

.nav-item {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1em;
  cursor: pointer;
  padding-left: 16px;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.25);
  border-left: 2px solid #ffffff;
  padding-left: 14px;
}

#app-body-wrapper {
  background-color: orange;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#app-body-title {
  background-color: #ffffff;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-weight: 600;
  font-size: 1.75em;
}

#app-body {
  background-color: #F4F5F8;
  width: 100%;
  height: 500px;
  flex: 7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#footer {
  background-color: #ffffff;
  width: 100%;
  flex: 2.5;
}

#app-header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;

}

#textbox-1 {
  width: 80%;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#textbox-1-header {
  font-size: 2.2em;
  letter-spacing: 0.8px;
}

#textbox-1-sub-header {
  font-size: 1.25em;
  margin-top: 0.3rem;
}

#textbox-2 {
  background-color: #ffffff;
  width: 60%;
  font-size: 1em;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 1.5rem;
  border: 1px solid #0097E6;
  border-radius: 4px;
}


#card-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;
}

#card-container-1 {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-top:14px solid #0077C5;
  border-radius:4px;
  margin-right: 20px;
  padding-top:1rem;
  padding-left:1.75rem;
  padding-right:1.75rem;
  padding-bottom:2rem;
}
#card-title{
  font-size:1.2em;
}
#credit-count{
  font-size:3.5em;
  font-weight: 900;
  padding-top: 0.5rem;
}
#remaining{
  font-size:0.9em;
}
#btn-container{
  padding-top:2rem;
}

